force-app/main/default/flows/Employee_Bank_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Employee_Record</name>
        <label>Add Employee Record</label>
        <locationX>332</locationX>
        <locationY>145</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>update_records</name>
        <label>update records</label>
        <locationX>309</locationX>
        <locationY>336</locationY>
        <actionName>BankService.updateAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_Information</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account_Type</name>
        <label>Assign Account Type</label>
        <locationX>504</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>accountTypeField.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Employee_Record.201.z0type</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>104</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
